/cookies/
/eng_tutor_n2/
/index2dir/
/venv/
/Youtube_tut/
/01.py
/01_tutor_bs.py
/04_ebay.py
/04_skills_chalange.py
/chromedriver.exe
/funcs.py
/geckodriver.exe
/geckodriver.log
/match_dict.py
/specs.csv
/try_2.py
/whoosh3.py
/whoosh_n.py
/eng_turo1_n1/
